body {
				background:url(фон.jpg);
				}
				
.class1 {
				background:url(фон1.jpg);
				height:150px;
				}
				
.class2 {
				background-color:white;
				background:url(27.jpg);
				}
				
.class3{
				background-color:green;
				}
			
h1 {
			color:green;
			font-size:110%;
			}
			
.class2 #in2 {
				width:150px;
				}
				
button {
				border-width:5px;
				border-color:#4dff2e;
				}
				
.class2 #in3 {
				border-color:green;
				border-width:3px;
				}
				
hr {
				border-width:4px;
				border-color:#4dff2e;
				}
				
h1 {
				font-size:29px;
				}
				
p {
				color:white;
				}
				
img {
				border-color:green;
				}
				
h3 {
				background-color:white;
				color:green;
				}
				
.class03 {
				background-color:#00c71e;
				}

footer {
    font-size:10px;
}

body {
    background-color:#AFC185;
}


